In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

## Read dataset

In [11]:
sales_receipt_df = pd.read_csv('./datasets/201904 sales reciepts.csv')
products_df = pd.read_csv('./datasets/product.csv')

In [12]:
sales_receipt_df.head(2)

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
0,7,2019-04-01,12:04:43,3,12,558,N,1,1,52,1,2.5,2.5,N
1,11,2019-04-01,15:54:39,3,17,781,N,1,1,27,2,7.0,3.5,N

In [13]:
products_df.head(2)

,product_id,product_group,product_category,product_type,product,product_description,unit_of_measure,current_wholesale_price,current_retail_price,tax_exempt_yn,promo_yn,new_product_yn
0,1,Whole Bean/Teas,Coffee beans,Organic Beans,Brazilian - Organic,It's like Carnival in a cup. Clean and smooth.,12 oz,14.4,$18.00,Y,N,N
1,2,Whole Bean/Teas,Coffee beans,House blend Beans,Our Old Time Diner Blend,Out packed blend of beans that is reminiscent ...,12 oz,14.4,$18.00,Y,N,N

## Data Wrangling

In [14]:
# filter out the relevent data
sales_receipt_df = sales_receipt_df[['transaction_id','transaction_date','sales_outlet_id','customer_id','product_id','quantity']]
products_df = products_df[['product_id','product_category','product']]

In [15]:
# merging the datasets
df = pd.merge(sales_receipt_df, products_df, how='left', on='product_id')
df.head(2)

,transaction_id,transaction_date,sales_outlet_id,customer_id,product_id,quantity,product_category,product
0,7,2019-04-01,3,558,52,1,Tea,Traditional Blend Chai Rg
1,11,2019-04-01,3,781,27,2,Coffee,Brazilian Lg